.single-card {
    width: 19%;
    color: #777;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 24%;
    background: #fff;
    border-radius: 13px;
    box-shadow: 0 .45rem 1.75rem 0 rgba(58, 59, 69, .15);
}

h5{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 8px;
}

.single-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.cardBody {
    margin-top: 20px;
}

.single-card .card-text{
    height: auto;
    overflow: hidden;
}

.card-text {
  margin-top: 8px;
  padding: 14px 16px;
  font-size: 15px;
  color: #222;
  background: rgba(13, 110, 253, 0.08);
  border-radius: 12px;
}

.btn {
  margin: 3.5px;
}

.cora {
  margin-right: 4,5px;
  width: 20%;
}

.add {
  width: 72%;
}

/* Mobile L */
@media (max-width: 425px) {
  .single-card {
    width: 45%;
    font-size: 16px;
  }

  .single-card img {
    height: 220px;
  }
}

/* Mobile M  */
@media (max-width: 375px) {
  .single-card {
    width: 48%;
    font-size: 14px;
  }

  .single-card img {
    height: 200px;
  }
}

/* Mobile S */
@media (max-width: 320px) {
  .single-card {
    width: 100%; 
    font-size: 14px;
  }

  .single-card img {
    height: 180px;
  }
}