nav{
  background:#eee;
  border-radius:4px;
  margin-bottom:20px;
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:10px 12px;
}

.nav{
  margin:0 !important;
  display:flex;
  gap:16px;
  flex-wrap:wrap;
}

.nav a{
  color:#444;
  text-decoration:none;
}
.nav a:hover{ font-weight:bold; }

/* Form centrado debajo */
nav form{ align-self:center; }