.cards {
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    gap: 12px;  
}

/* Mobile L  */
@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile M y S  */
@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
